.video-stats {
  display: none;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4rem;
  width: 4rem;
  margin: -2rem 0 0 -2rem;
  border-radius: 50%;
  line-height: 2rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease-in-out;
  box-sizing: unset;

  &.show {
    display: block;
    animation: animation-stats-show 0.5s linear 1 normal forwards;
    pointer-events: none;
  }

  .svg {
    width: 50%;
    height: 50%;
    padding: 25%;
    fill: currentColor;
    overflow: hidden;
    box-sizing: unset;
  }
}
