.icon[data-tooltip]::after {
  display: block;
  opacity: 0;
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.84);
  width: 0;
  height: 0;
  overflow: hidden;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 0.875rem;
  z-index: 1;
  pointer-events: none;
  transition: opacity 0.5s;
}

.icon[data-tooltip-position]::after {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
}

.icon[data-tooltip]:hover {
  &::after {
    display: block;
    opacity: 1;
    width: auto;
    height: auto;
    padding: 5px 10px;
    z-index: 200;
  }
}
