@import 'vars';
@import 'reset';

.ayaya-wrapper {
  position: relative;
  user-select: none;
  font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  button.icon {
    width: 34px;
    height: 34px;
    padding: 0 4px 4px;
    vertical-align: top;
    /*margin-left: 8px;*/
  }

  @import 'modules/video.scss';
  @import 'modules/controls.scss';
  @import 'modules/context-menu.scss';
  @import 'modules/fullscreen.scss';
  @import 'modules/info-panel.scss';
  @import 'modules/notice.scss';
  @import 'modules/stats.scss';
  @import 'modules/tooltip.scss';
  @import 'modules/waiting.scss';
}

@import url('modules/animate.scss');
