
.player-wrap {
    
    [hidden], .hidden {
        display: none;
      }
    
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    
      p {
        display: block;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
      }
    
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
      }
    
      svg:not(:root) {
        overflow: hidden;
      }
    
      img {
        border-style: none;
      }
    
      audio:not([controls]) {
        display: none;
        height: 0;
      }
    
      audio,
      video {
        display: inline-block;
      }
    
      a {
        background-color: transparent; /* 1 */
        -webkit-text-decoration-skip: objects; /* 2 */
      }
    
      a:active,
      a:hover {
        outline-width: 0;
      }
    
    
      // icon sett
    
      .icon {
        width: 34px;
        height: 100%;
        border: none;
        color: #fff;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        opacity: .8;
        transition: all .2s ease-in-out;
        vertical-align: middle;
        box-sizing: border-box;
        display: inline-block;
        padding: 7px;
    
        &:hover {
          opacity: 1;
        }
      }
    
      .svg {
        width: 100%;
        height: 100%;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
      }
}